language: php

sudo: false

php:
  - 7.0
  - 7.1
  - 7.2
  - hhvm

before_script:
  - travis_retry composer self-update
  - travis_retry composer install --prefer-source --no-interaction --dev

script:
  - vendor/bin/phpunit --configuration phpunit.xml --coverage-text